.SignForm {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* width: 430px; */
  /* height: 700px; */
  margin-top: 5%;
  padding: 35px;
  border-radius: 40px;
  background: #7e8082;
  /* box-shadow: 13px 13px 20px #66686a, -13px -13px 20px #4b4b4b;
   */
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.5s;
}
.SignForm:hover {
  box-shadow: 20px 20px 50px #00d2c6, -30px -30px 60px #00ffff;
}
.signup-input {
  padding: 10px 10px 10px 0;
}
.signup-input:focus {
  border: 1px solid #00ffff;
}
.signup-input {
  width: 200px;
  margin: 10px auto;
  background-color: #bcbcbc;
  border: solid 1px #00000000;
  padding: 10px 20px;
  outline: none;
  background: none;
  font-size: 18px;
  color: #393939;
  border-radius: 25px;
  /* box-shadow: inset 8px 8px 8px #66686a, inset -8px -8px 8px #636363;
   */
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(144, 144, 144, 0.5);
}
.signup-input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #1e1e1e;
}
svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}
.signup-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 80%;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #434343;
  box-shadow: 3px 3px 8px #66686a, -3px -3px 8px #4b4b4b;
  transition: 0.5s;
  margin-top: 10px;
}
.signup-button:hover {
  background: #00ffff;;
  color: #1e1e1e;
}
.signup-button:active {
  background: #1da88a;
}
.link {
  padding-top: 20px;
  text-align: center;
}
.link a {
  text-decoration: none;
  color: #696969;
  font-size: 15px;
  transition: color 0.2s;
}
.link a:hover {
  /* text-decoration: none; */
  color: #00ffff;
  /* font-size: 15px; */
}
