.Coin {
  color: var(--mainlist-coin-text);
  border-bottom: 1px solid saddlebrown;
}
.Coin_Id {
  width: 20px;
}
.Coin_Name_Field {
  width: 150px;
}
.Coin_Icon {
  height: 40px;
}
.Coin_Price {
  width: 150px;
  font-weight: bold;
}
.Coin_Change_Hour {
  width: 50px;
}
.Coin_Change_Day {
  width: 50px;
}
.Coin_Change_Week {
  width: 50px;
}
.Coin_MarketCap {
  width: 150px;
}
.Coin_Volume_Day {
  width: 150px;
}
.Coin_Circulattion {
  width: 200px;
}
.Supply {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  /* width: 250px; */
}
.CoinList {
  display: flex;
  font-size: 14px;
}
.Coin td {
  padding: 15px 10px;
  /* background-color: var(--coin-bg); */
  height: 60px;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.Coin {
  /* padding: 10px 0; */
  border-bottom: 1px solid grey;
}
.Coin:last-child{
  border: none;
}
.Coin_Fav {

}
.Coin_Fav img {
  width: 25px;
  height: 25px;
  /* margin: 0 auto; */
  /* height: 100%; */
}
.Coin_Name_Field {
  display: flex;
  align-items: center;
  gap: 10px;
}
.greenMarker {
  color: green;
}
.redMarker {
  color: red;
}
